html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('image/886659224-origin.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs{
    margin: 0px 0px -12px 0px;
}

login-layout-card li.nav-item{
    width: 50%;
}

.login-layout-card .nav-link{
    font-size: 1rem;
    color: #4cff00;
    text-align: center;
    padding: 1rem;
}

.login-layout-card .card-body{
    padding: 10px 20px;
}
.text-black {
    color: black;
    font-weight: bold;
}
