@using Microsoft.AspNetCore.Identity
@using agriEnergy.Areas.Identity.Data

@inject SignInManager<agriEnergyUser> SignInManager
@inject UserManager<agriEnergyUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @if (User.IsInRole("Farmer"))
    {
        <h1>Hello Farmer</h1>
    }
    else if (User.IsInRole("Employee"))
{
        <h1>Hello Employee</h1>
    }


</div>
